* {
  font-family: 'Encode Sans Semi Expanded', sans-serif;

}

body {
  background-color: lightblue;
  padding: 20px;
  margin: 0;
}

h2, h3, p, ul, li {
  font-family: 'Encode Sans Semi Expanded', sans-serif;

}
h1 strong {
  color: rgb(222,200,69);
}

h1 {
  text-align: center;
  color: white;
  font-size: 5em;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-style: bold;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #FFF;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: rgb(222,200,69);
}

.store-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.store-name h1 {
  margin-left: 2em;
}

.store-name img {
  margin-right: 10em;
}

.selected {
  display: flex;
  justify-content: space-around;
}

span {
  color: white;
}
